%h1
  setup branches
  %a{class: :add, href: new_admin_setup_path } +
%hr
- @branches.each do |branch|
  .branch
    %a{href: admin_business_branch_quest_descriptions_path(branch.business_id, branch) } Setup
    %a{href: edit_admin_setup_path(branch) } #{branch.name}
    =link_to 'x', admin_setup_path(branch), :method => :delete, :data => { :confirm => "Delete #{branch.name}\nAre you sure?" }