a
  text-decoration: none

h1, h2, h3
  text-align: center
  font-family: 'GothamBoldRegular'
  color: #15394a
h3
  text-align: left
  margin: 8px 0 2px 0
body
  padding: 0
  margin: 0
  background: url('background-repeat.png') repeat
  font-family: 'GothamBookRegular'
  color: #5a5a5a
  .admin
    position: absolute
    z-index: -1
    top: 0
    left: 0
    width: 100%
    background: url('newbgtop.jpg') no-repeat center top fixed
    height: 800px
  nav
    width: 960px
    margin: 70px auto 35px auto
    ul
      float: right
      display: block
      list-style: none
      li
        float: left
        line-height: 20px
        display: list-item
        list-style: none
        a
          padding: 15px 20px
          font-family: 'GothamBoldRegular'
          font-size: 1.5em
          color: #15394a
          background-color: transparent
          &:hover
            color: #f53b70
            background-color: transparent
  .content
    margin: 10px 35px

  .vcard
    background-color: white
    margin: 8px 0
    padding: 8px
    -webkit-border-radius: 12px
    -moz-border-radius: 12px
    border-radius: 12px